.sites-container{
    width: 60%;
    margin: 0 auto;
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}